.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 30px; /* Garantir que o botão seja um círculo */
    height: 30px; /* Garantir que o botão seja um círculo */
}

.icon-button:hover {
    box-shadow: none;
}