* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h2 {
    margin-bottom: 2%;
    color: #0433BF;
}

header {
    background-color: #0433BF;
    text-align: center;
    color: white;
    padding: 1em 0;
    position: fixed;
    margin-left: 0;
    width: 100%;
    z-index: 1000;
    top: 0;
}

main {
    padding: 80px 20px 60px; /* Ajuste para evitar sobreposição com header e footer */
}

body{
    background-color: white;
    font-size: 1em;
    color: black;
    margin-left: 0;
    margin-top: 2%;
    justify-content: center;
}

/* Elementos de tags <body>, <input>, <Select>, <textarea> e <button> */
input, select, radio {
    font-size: 1em;
    color: black;
    border-radius: 5px;
}

.infoField input {
    border: none;
    background: transparent;
    pointer-events: none;
    display: block;
}

.hidden{
    display: none;
}

.field, .infoField {
    margin-bottom: 0.5em;
}


.buttons, .sub-buttons {
    margin-bottom: 10px; /* Reduz a distância entre as linhas de botões */
    margin-top: 60px; /* Adiciona margem superior para ficar abaixo do header */
}

button {
    background-color: #0597F2;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #07B0F2;
    box-shadow: none;
}

button:active {
    background-color: #05DBF2;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.radio-button.selected {
    background-color: #0433BF;
}

table {
    width: auto;
    border-collapse: collapse;
    margin: 0 auto;
}

th, td {
    padding: 5px 10px; /* Diminui a altura das linhas */
}

th {
    background-color: #0433BF;
    color: white;
}

th:nth-child(1), td:nth-child(1) {
    width: 90ch; /* Diminui a largura da coluna Data */
    text-align: left;
}

th:nth-child(2), td:nth-child(2) {
    width: 20ch; /* Diminui a largura da coluna Area */
    text-align: left;
}

th:nth-child(3), td:nth-child(3),
th:nth-child(4), td:nth-child(4),
th:nth-child(5), td:nth-child(5),
th:nth-child(6), td:nth-child(6),
th:nth-child(7), td:nth-child(7),
th:nth-child(8), td:nth-child(8),
th:nth-child(9), td:nth-child(9) {
    text-align: center;
    width: 24px;
}

table tr:nth-child(even) {
    background-color: #e0e0e0; /* Cor das linhas ímpares */
}


.icon-button-check, .icon-button-edit, .icon-button-delete, .icon-button-info{
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 1px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 20px; /* Garantir que o botão seja um círculo */
    height: 20px; /* Garantir que o botão seja um círculo */
    display: flex; /* Habilita flexbox para o alinhamento */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
}

.icon-button-check:hover, .icon-button-edit:hover, 
.icon-button-delete:hover, .icon-button-info:hover {
    box-shadow: none;
}

.icon-button-check img, .icon-button-edit img,
.icon-button-delete img, .icon-button-info img{
    max-width: 100%; /* Define a largura máxima da imagem para 100% do botão */
    max-height: 100%; /* Define a altura máxima da imagem para 100% do botão */
}

